<%- include("../partials/header") %>

<div class="container">
	
	<div class="row" style="width: 70%; margin: auto; ">
		<div class="container" style="padding: 30px">
			<h2>Add A New Campground</h2>
		</div>
		<form action="/campgrounds" method="POST" style="padding-left: 50px">
			<div class="form-group">
				<input class="form-control" type="text" name="name" placeholder="name"/>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="image" placeholder="image URL"/>
			</div>
			<div>
				<textarea name="description" style="width: 400px; height: 200px"></textarea>
			</div>
			<div style="padding: 20px">
				<button class="btn btn-primary">Submit!</button>
			</div>
		</form>
	</div>
</div>



<%- include("../partials/footer") %>